* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
.target {
  border: solid 7px #4fe24a;
}
